body {
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden; }

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  width: 15%;
  height: 100%;
  border-right: 1px solid black;
  background-color: #EDF0ED; }
  #sidebar #logoTag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%; }
    #sidebar #logoTag img:first-child {
      height: 60%;
      margin-left: 20px; }
    #sidebar #logoTag #profilePicture {
      height: 60%;
      margin-right: 20px;
      border-radius: 50%;
      border: 1px solid black; }
  #sidebar hr {
    width: 90%; }
  #sidebar #createJoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px; }
    #sidebar #createJoin .btn {
      width: 90%; }
    #sidebar #createJoin div {
      background-color: #35364a; }
  #sidebar #roomDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; }
    #sidebar #roomDetails #roomName {
      margin: 0px;
      font-size: 20px;
      font-weight: bold; }
    #sidebar #roomDetails #userCount {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%; }
    #sidebar #roomDetails #roomUsernames {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%; }
      #sidebar #roomDetails #roomUsernames div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px; }
        #sidebar #roomDetails #roomUsernames div p {
          margin: 0px; }
        #sidebar #roomDetails #roomUsernames div img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid black; }
  #sidebar #myRooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px; }
    #sidebar #myRooms .roomTag {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%; }
      #sidebar #myRooms .roomTag div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        #sidebar #myRooms .roomTag div:first-child div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
    #sidebar #myRooms .roomOptions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      #sidebar #myRooms .roomOptions .copyID {
        color: #f49030;
        font-size: 14px; }
      #sidebar #myRooms .roomOptions #leaveRoom {
        color: red;
        font-size: 14px; }
  #sidebar #logOut {
    position: absolute;
    background-color: #ef863d;
    border-top: 1px solid black; }

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  margin-left: 14%; }
  #content #sidebarToggle {
    position: fixed;
    top: 10px;
    left: 10px; }
  #content #createRoom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/createRoomImg.png);
    background-size: contain;
    padding: 10px;
    width: 20%;
    border-radius: 5%; }
    #content #createRoom #createRoomContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 5%;
      padding: 10px;
      background-color: white; }
      #content #createRoom #createRoomContent h2 {
        margin-top: 0px; }
      #content #createRoom #createRoomContent #createRoomForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        #content #createRoom #createRoomContent #createRoomForm div {
          width: 100%; }
          #content #createRoom #createRoomContent #createRoomForm div z
          input {
            width: 100%; }
        #content #createRoom #createRoomContent #createRoomForm #privacyRoomSwitch {
          margin-bottom: 20px; }
          #content #createRoom #createRoomContent #createRoomForm #privacyRoomSwitch .lever {
            background-color: #35364a; }
          #content #createRoom #createRoomContent #createRoomForm #privacyRoomSwitch .level:after {
            background-color: #ef863d; }
        #content #createRoom #createRoomContent #createRoomForm label {
          font-size: 18px; }
      #content #createRoom #createRoomContent #createRoomSubmit {
        background-color: #35364a;
        margin-bottom: 5px; }
  #content #joinRoom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/createRoomImg.png);
    background-size: contain;
    padding: 10px;
    width: 20%;
    border-radius: 5%; }
    #content #joinRoom #joinRoomContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 5%;
      padding: 10px;
      background-color: white; }
      #content #joinRoom #joinRoomContent h2 {
        margin-top: 0px; }
      #content #joinRoom #joinRoomContent #joinRoomForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 0px; }
        #content #joinRoom #joinRoomContent #joinRoomForm div {
          width: 100%; }
          #content #joinRoom #joinRoomContent #joinRoomForm div z
          input {
            width: 100%; }
        #content #joinRoom #joinRoomContent #joinRoomForm label {
          font-size: 18px; }
      #content #joinRoom #joinRoomContent #joinRoomSubmit {
        background-color: #35364a;
        margin-bottom: 15px; }
  #content #room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 90%; }
    #content #room #playerChat {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      width: 100%;
      height: 700px; }
      #content #room #playerChat #video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 75%;
        height: 100%; }
        #content #room #playerChat #video #playTime {
          margin: 0px;
          width: 98%; }
          #content #room #playerChat #video #playTime .progress {
            cursor: pointer;
            margin: 0px;
            padding: 2px 0px;
            background-color: #3c3f4c; }
            #content #room #playerChat #video #playTime .progress .determinate {
              background-color: #ef863d; }
          #content #room #playerChat #video #playTime #controlSlider {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #ef863d; }
            #content #room #playerChat #video #playTime #controlSlider #popupTimer {
              position: relative;
              top: -23px;
              left: -5px;
              -webkit-text-stroke: 0.1px black;
              font-size: 16px;
              color: #ef863d; }
        #content #room #playerChat #video #player {
          width: 100%;
          height: 100%; }
        #content #room #playerChat #video #controls {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-top: 1px solid black;
          background-color: black;
          width: 100%;
          height: 35px;
          color: white; }
          #content #room #playerChat #video #controls i {
            cursor: pointer;
            width: 50px;
            text-align: center; }
          #content #room #playerChat #video #controls #volumeRangeField {
            width: 0px;
            margin: 0px;
            margin-right: 15px; }
            #content #room #playerChat #video #controls #volumeRangeField input[type=range]::-webkit-slider-thumb {
              background-color: #f49030; }
      #content #room #playerChat #chat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        min-width: 300px;
        height: 100%;
        border: 1px solid grey;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        margin-left: 20px;
        background-color: #EDF0ED; }
        #content #room #playerChat #chat #messages {
          position: relative;
          height: 100%;
          width: 90%;
          overflow-y: scroll; }
          #content #room #playerChat #chat #messages div {
            margin: 5px 0px; }
            #content #room #playerChat #chat #messages div p {
              margin: 0px; }
            #content #room #playerChat #chat #messages div .nameTag {
              font-size: 12px;
              margin-left: 15px; }
            #content #room #playerChat #chat #messages div .message {
              display: inline-block;
              width: auto;
              padding: 10px 15px;
              border-radius: 25px;
              color: white;
              background-color: #35364a; }
          #content #room #playerChat #chat #messages .mine {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end; }
            #content #room #playerChat #chat #messages .mine .message {
              background-color: #ef863d; }
          #content #room #playerChat #chat #messages .server {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            width: 100%; }
            #content #room #playerChat #chat #messages .server hr {
              width: 90%; }
            #content #room #playerChat #chat #messages .server .nameTag {
              font-size: 15px;
              margin-left: 0px; }
            #content #room #playerChat #chat #messages .server .message {
              color: grey;
              background-color: transparent;
              padding-top: 0px; }
        #content #room #playerChat #chat #sendMessage {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid grey;
          width: 100%; }
          #content #room #playerChat #chat #sendMessage input {
            margin-left: 5px;
            margin-bottom: 0px;
            border-color: "none";
            border-bottom: 0px;
            box-shadow: "none"; }
          #content #room #playerChat #chat #sendMessage div {
            margin-right: 5px;
            margin-left: 5px; }
    #content #room #searchBar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 50px;
      width: 100%; }
      #content #room #searchBar #searchBarInput {
        width: 50%; }
    #content #room #resultsAds {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 100px; }
      #content #room #resultsAds #searchResults {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px;
        width: 70%; }
        #content #room #resultsAds #searchResults .thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border: 1px solid grey; }
          #content #room #resultsAds #searchResults .thumbnail div {
            width: 100%; }
            #content #room #resultsAds #searchResults .thumbnail div .thumbnailImage {
              width: 100%; }
          #content #room #resultsAds #searchResults .thumbnail:hover {
            background-color: #E8E8E8; }
            #content #room #resultsAds #searchResults .thumbnail:hover p a {
              color: #ef863d; }
      #content #room #resultsAds #ads {
        width: 30%; }

@media screen and (max-width: 1380px) {
  #usernameDisplay {
    display: none; } }

/*# sourceMappingURL=home.css.map */
