@mixin display($display, $direction, $justify, $align)
{
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$pallete1: #ef863d;
$pallete2: #f49030;
$pallete3: #f3f0ee;
$pallete4: #3c3f4c;
$pallete5: #35364a;
$pallete6: #EDF0ED;

body
{
    font-family: 'Oswald', sans-serif;

    overflow-x: hidden;
}

#sidebar
{
    @include display(flex, column, flex-start, flex-start);
    position: fixed;

    width: 15%;
    height: 100%;

    border-right: 1px solid black;
    background-color: $pallete6;

    #logoTag
    {
        @include display(flex, row, space-between, center);

        width: 100%;
        height: 8%;

        img:first-child
        {
            height: 60%;
            margin-left: 20px;
        }

        #profilePicture
        {
            height: 60%;
            margin-right: 20px;

            border-radius: 50%;
            border: 1px solid black;
        }
    }

    hr
    {
        width: 90%;
    }

    #createJoin
    {
        @include display(flex, column, center, center);

        width: 100%;

        margin-bottom: 30px;

        .btn
        {
            width: 90%;
        }

        div
        {
            background-color: $pallete5;
        }
    }

    #roomDetails
    {
        @include display(flex, column, center, center);

        width: 100%;

        margin-bottom: 20px;

        #roomName
        {
            margin: 0px;
            font-size: 20px;
            font-weight: bold;
        }

        #userCount
        {
            @include display(flex, row, space-between, center);

            width: 90%;
        }

        #roomUsernames
        {
            @include display(flex, column, center, center);

            width: 90%;

            div
            {
                @include display(flex, row, space-between, center);

                width: 100%;

                margin-bottom: 10px;

                p
                {
                    margin: 0px;
                }

                img
                {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    border: 1px solid black;
                }
            }
        }
    }

    #myRooms
    {
        @include display(flex, column, center, center);

        width: 100%;

        font-weight: bold;
        font-size: 20px;

        .roomTag
        {
            @include display(flex, column, center, center);

            width: 90%;

            div:first-child
            {
                @include display(flex, row, space-between, center);

                width: 100%;

                div
                {
                    @include display(flex, row, center, center);
                }
            }
        }

        .roomOptions
        {
            @include display(flex, row, space-between, center);

            width: 80%;

            .copyID
            {
                color: $pallete2;
                font-size: 14px;
            }

            #leaveRoom
            {
                color: red;
                font-size: 14px;
            }
        }
    }

    #logOut
    {
        position: absolute;

        background-color: $pallete1;
        border-top: 1px solid black;
    }
}

#content
{
    @include display(flex, row, center, center);

    width: 85%;
    height: 100%;
    margin-left: 14%;

    #sidebarToggle
    {
        position: fixed;
        top: 10px;
        left: 10px;
    }

    #createRoom
    {  
        @include display(flex, row, center, center);

        background-image: url(../img/createRoomImg.png);
        background-size: contain;

        padding: 10px;
        width: 20%;
        border-radius: 5%;
        
        #createRoomContent
        {
            @include display(flex, column, center, center);

            width: 100%;
            height: 100%;
            border-radius: 5%;
            padding: 10px;

            background-color: white;

            h2
            {
                margin-top: 0px;
            }

            #createRoomForm
            {
                @include display(flex, column, center, flex-start);
        
                div
                {
                    width: 100%;z
    
                    input
                    {
                        width: 100%;
                    }
                }
    
                #privacyRoomSwitch
                {
                    margin-bottom: 20px;

                    .lever
                    {
                        background-color: $pallete5;
                    }

                    .level:after
                    {
                        background-color: $pallete1;
                    }
                }

                label
                {
                    font-size: 18px;
                }
            }
    
            #createRoomSubmit
            {
                background-color: #35364a;

                margin-bottom: 5px;
            }
        }
    }

    #joinRoom
    {  
        @include display(flex, row, center, center);

        background-image: url(../img/createRoomImg.png);
        background-size: contain;

        padding: 10px;
        width: 20%;
        border-radius: 5%;
        
        #joinRoomContent
        {
            @include display(flex, column, center, center);

            width: 100%;
            height: 100%;
            border-radius: 5%;
            padding: 10px;

            background-color: white;

            h2
            {
                margin-top: 0px;
            }

            #joinRoomForm
            {
                @include display(flex, column, center, flex-start);

                margin-bottom: 0px;
        
                div
                {
                    width: 100%;z
    
                    input
                    {
                        width: 100%;
                    }
                }

                label
                {
                    font-size: 18px;
                }
            }
    
            #joinRoomSubmit
            {
                background-color: #35364a;

                margin-bottom: 15px;
            }
        }
    }

    #room
    {
        @include display(flex, column, flex-start, center);
        
        height: 100%;
        width: 90%;

        #playerChat
        {
            @include display(flex, row, center, center);

            margin-top: 100px;
            width: 100%;
            height: 700px;

            #video
            {
                @include display(flex, column, center, center);
                background-color: black;

                width: 75%;
                height: 100%;

                #playTime
                {
                    margin: 0px;
                    width: 98%;

                    .progress
                    {
                        cursor: pointer;
                        
                        margin: 0px;
                        padding: 2px 0px;

                        background-color: $pallete4;

                        .determinate
                        {
                            background-color: $pallete1;
                        }
                    }

                    #controlSlider
                    {
                        position: absolute;
                        width: 15px;
                        height: 15px;

                        border-radius: 50%;
                        background-color: $pallete1;

                        #popupTimer
                        {
                            position: relative;
                            top: -23px;
                            left: -5px;
                            -webkit-text-stroke: 0.1px black;
                            font-size: 16px;

                            color: $pallete1;
                        }
                    }
                }

                #player
                {
                    width: 100%;
                    height: 100%;
                }

                #controls
                {
                    @include display(flex, row, flex-start, center);

                    border-top: 1px solid black;
                    background-color: black;

                    width: 100%;
                    height: 35px;

                    color: white;

                    i
                    {
                        cursor: pointer;
                        width: 50px;
                        text-align: center;
                    }

                    #volumeRangeField
                    {
                        width: 0px;
                        margin: 0px;
                        margin-right: 15px;

                        input[type=range]::-webkit-slider-thumb 
                        {
                            background-color: $pallete2;
                        }
                    }
                }
            }
            #chat
            {
                @include display(flex, column, center, center);

                width: 25%;
                min-width: 300px;
                height: 100%;
                border: 1px solid grey;
                border-top-left-radius: 5%;
                border-top-right-radius: 5%;
                margin-left: 20px;
                
                background-color: $pallete6;

                #messages
                {
                    position: relative;
                    height: 100%;
                    width: 90%;
                    overflow-y: scroll;

                    div
                    {
                        margin: 5px 0px;

                        p
                        {
                            margin: 0px;
                        }

                        .nameTag
                        {
                            font-size: 12px;
                            margin-left: 15px;
                        }

                        .message
                        {
                            display: inline-block;
                            width: auto;
                            padding: 10px 15px;
                            border-radius: 25px;

                            color: white;
                            background-color: $pallete5;
                        }
                    }

                    .mine
                    {
                        @include display(flex, column, center, flex-end);
                        //align-self: flex-end;

                        .message
                        {
                            background-color: $pallete1;
                        }
                    }

                    .server
                    {
                        @include display(flex, column, center, center);

                        align-self: center;

                        width: 100%;

                        hr
                        {
                            width: 90%;
                        }

                        .nameTag
                        {
                            font-size: 15px;
                            margin-left: 0px;
                        }

                        .message
                        {
                            color: grey;
                            background-color: transparent;
                            padding-top: 0px;
                        }
                    }
                }

                #sendMessage
                {
                    @include display(flex, row, space-between, center);

                    border-top: 1px solid grey;
                    width: 100%;

                    input
                    {
                        margin-left: 5px;
                        margin-bottom: 0px;
                        border-color: "none";
                        border-bottom: 0px;
                        box-shadow: "none"
                    }

                    div
                    {
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }

        #searchBar
        {
            @include display(flex, row, flex-start, center);

            margin-top: 30px;
            margin-bottom: 50px;
            width: 100%;

            #searchBarInput
            {
                width: 50%;
            }
        }

        #resultsAds
        {   
            @include display(flex, row, flex-start, center);

            width: 100%;
            margin-bottom: 100px;

            #searchResults
            {
                display: grid;
                grid-template-columns: repeat(3, 30%);
                grid-gap: 20px;
                width: 70%;

                .thumbnail
                {
                    @include display(flex, column, space-between, center);

                    border: 1px solid grey;

                    div
                    {
                        width: 100%;
                        .thumbnailImage
                        {
                            width: 100%;
                        }
                    }

                    &:hover
                    {
                        background-color: #E8E8E8;

                        p a
                        {
                            color: $pallete1;
                        }
                    }
                }

                
            }

            #ads
            {
                width: 30%;

            }
        }

        
    }
}

@media screen and (max-width: 1380px) 
{
    #usernameDisplay
    {
        display: none;
    }
}