@mixin display($display, $direction, $justify, $align)
{
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$pallete1: #ef863d;
$pallete2: 	#f49030;
$pallete3: #f3f0ee;
$pallete4: #3c3f4c;
$pallete5: #35364a;

body
{
    font-family: 'Oswald', sans-serif;

    //background-color: rgba(0,0,0, 0.5);
    //filter: brightness(50%);

    overflow-x: hidden;
}

#sidebar
{
    @include display(flex, column, flex-start, flex-start);
    position: fixed;

    width: 15%;
    height: 100%;

    border-right: 1px solid black;

    #logoTag
    {
        @include display(flex, row, space-evenly, center);

        width: 100%;
        height: 8%;

        img
        {
            margin-left: 20px;
            height: 80%;
            width: 10%;
            margin-right: 20px;
        }

        #profilePicture
        {
            width: 20%;
            margin-right: 20px;

            border-radius: 50%;
            border: 1px solid black;
        }
    }

    hr
    {
        width: 90%;
    }

    #createJoin
    {
        @include display(flex, column, center, center);

        width: 100%;

        margin-bottom: 30px;

        .btn
        {
            width: 90%;
        }

        div
        {
            background-color: $pallete5;
        }
    }

    #myRooms
    {
        @include display(flex, column, center, center);

        width: 100%;

        font-weight: bold;
        font-size: 20px;

        .roomTag
        {
            width: 90%;
            div:first-child
            {
                @include display(flex, row, space-between, center);

                div
                {
                    @include display(flex, row, center, center);
                }
            }
        }
    }

    #logOut
    {
        position: absolute;

        background-color: $pallete1;
        border-top: 1px solid black;
    }
}

#content
{
    @include display(flex, row, center, center);

    width: 85%;
    height: 100%;
    margin-left: 14%;

    #sidebarToggle
    {
        position: fixed;
        top: 10px;
        left: 10px;
    }

    #createRoom
    {  
        @include display(flex, row, center, center);

        background-image: url(../img/createRoomImg.png);
        background-size: contain;

        padding: 10px;
        width: 20%;
        border-radius: 5%;
        
        #createRoomContent
        {
            @include display(flex, column, center, center);

            width: 100%;
            height: 100%;
            border-radius: 5%;
            padding: 10px;

            background-color: white;

            h2
            {
                margin-top: 0px;
            }

            #createRoomForm
            {
                @include display(flex, column, center, flex-start);
        
                div
                {
                    width: 100%;z
    
                    input
                    {
                        width: 100%;
                    }
                }
    
                #privacyRoomSwitch
                {
                    margin-bottom: 20px;

                    .lever
                    {
                        background-color: $pallete5;
                    }

                    .level:after
                    {
                        background-color: $pallete1;
                    }
                }

                label
                {
                    font-size: 18px;
                }
            }
    
            #createRoomSubmit
            {
                background-color: #35364a;

                margin-bottom: 5px;
            }
        }
    }

    #room
    {
        @include display(flex, column, center, center);

        p
        {
            border: 1px solid black;
        }
        div
        {
            border: 1px solid black;
        }
        #playerChat
        {
            width: 1000px;
            height: 562.5px;

            #player
            {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1380px) 
{
    #usernameDisplay
    {
        display: none;
    }
}