html
    head
        script(src="/__/firebase/7.13.2/firebase-app.js")
        script(src="/__/firebase/7.13.2/firebase-analytics.js")
        script(src="/__/firebase/7.13.2/firebase-firestore.js")
        script(src="/__/firebase/7.13.2/firebase-auth.js")
        script(src="/__/firebase/7.13.2/firebase-database.js")
        title Sync - Feed
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/feed.css")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/feed.js")
    body
        div#sidebar
            div#logoTag
                img#logo(src="./img/logo.png")
                p#usernameDisplay
                img#profilePicture(src="")
            hr
            div#createJoin
                div#createRoomBtn.waves-effect.waves-light.btn.black Create room
                div#joinRoomBtn.waves-effect.waves-light.btn.black Join room
            div#myRooms My Rooms
            hr
            a#logOut.waves-effect.waves-light.btn.red(href="#logout") Log out
        div#content
            div#initialScreen
                h1 Create or join a new room to start
            div#createRoom
                h1 Create room
                form#createRoomForm
                    div.input-field
                        input#roomNameInput.form-control.validate(name="roomName" type="text" maxlength="20" required)
                        label(for="roomNameInput") Room Name
                        span.helper-text(data-error="")
                    div#privacyRoomSwitch.switch
                        label Public
                            input#privacyRoomInput(name="privacyEnable" type="checkbox")
                            span.lever
                            | Private
                    div.input-field
                        input#roomPasswordInput.form-control.validate(name="roomPassword" type="password" maxlength="128" required)
                        label(for="roomPasswordInput") Password
                div#createRoomSubmit.waves-effect.waves-light.btn.black(type="submit") Start the fun now!
            

                