html
    head
        script(src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js")
        script.
            var firebaseConfig = 
            {
                apiKey: "AIzaSyBxckf9wrJVmLSI4kMGnDjZmCPqpyE-8Pk",
                authDomain: "sync-7e5a0.firebaseapp.com",
                databaseURL: "https://sync-7e5a0.firebaseio.com",
                projectId: "sync-7e5a0",
                storageBucket: "sync-7e5a0.appspot.com",
                messagingSenderId: "799635030891",
                appId: "1:799635030891:web:d7a9b39c19e178258b422e",
                measurementId: "G-58PCG0EDDL"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var analytics = firebase.analytics();
        title Sync - Feed
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/feed.css")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/feed.js")
    body
        div#sidebar
            div#logoTag
                img(src="./img/logo.png")
                div#tag
                    img#profilePicture(src="")
                    p#usernameDisplay
            hr
            div#createJoin
                div.btn Create room
                div.btn Join room
            div#myRooms
            div.btn Log out
            

                