html
    head
        title Sync - Homepage
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/home.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/home.js")
    body
        header
            img#logo(src="./img/logo.png")
            div#buttons
                img#signIn(src="./img/icons/user.png")
        content
            //Image instead of banner at some point
            div#banner
            
        footer
            hr
            p Contact me on ricardojg1@hotmail.com