html
    head
        script(src="/__/firebase/7.13.2/firebase-app.js")
        script(src="/__/firebase/7.13.2/firebase-analytics.js")
        script(src="/__/firebase/7.13.2/firebase-firestore.js")
        script(src="/__/firebase/7.13.2/firebase-auth.js")
        script(src="/__/firebase/7.13.2/firebase-database.js")
        title Sync - Home
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/home.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous")
        script(src="./js/home.js")
    body
        div#sidebar
            div#logoTag
                img#logo(src="./img/logo.png")
                p#usernameDisplay
                img#profilePicture(src="")
            hr
            div#createJoin
                div#createRoomBtn.waves-effect.waves-light.btn Create room
                div#joinRoomBtn.waves-effect.waves-light.btn Join room
            div#roomDetails
                p#roomName
                hr
                div#userCount
                div#roomUsernames
                hr
            div#myRooms My Rooms
                hr
            a#logOut.waves-effect.waves-light.btn(href="#logout") Log out
        div#content
            i#sidebarToggle.material-icons.medium.prefix menu_open
            div#initialScreen
                h1 Create or join a new room to start
            div#createRoom.z-depth-5
                div#createRoomContent
                    h2 Create Room
                    form#createRoomForm
                        div.input-field
                            input#roomNameInput.form-control.validate(name="roomName" type="text" maxlength="20" required)
                            label(for="roomNameInput") Room Name
                            span.helper-text(data-error="")
                        div#privacyRoomSwitch.switch
                            label Public
                                input#privacyRoomInput(name="privacyEnable" type="checkbox")
                                span.lever
                                | Private
                        div.input-field
                            input#roomPasswordInput.form-control.validate(name="roomPassword" type="password" maxlength="128" required)
                            label(for="roomPasswordInput") Password
                    div#createRoomSubmit.waves-effect.waves-light.btn(type="submit") Start the fun now 🥳
            div#joinRoom
                div#joinRoomContent
                    h2 Join room
                    form#joinRoomForm
                        div.input-field
                            input#roomJoinIDInput.form-control.validate(name="roomName" type="text" maxlength="20" required)
                            label(for="roomJoinIDInput") Room ID
                            span.helper-text(data-error="")
                        div.input-field
                            input#roomJoinPasswordInput.form-control.validate(name='roomPassword' type='text' maxlength="128" placeholder="None")
                            label(for="roomJoinPasswordInput") Password
                            span.helper-text(data-error="")
                    div#joinRoomSubmit.waves-effect.waves-light.btn Join 🤩
            div#room
                div#playerChat
                    div#video
                        div#player(allow="autoplay" fullscreen)
                        div#playTime
                            div.progress
                                div.determinate
                            div#controlSlider
                                div#popupTimer
                            //input#playTimeInput(type="range" min="0")
                        div#controls
                            i#playPause.material-icons.small play_arrow
                            i#volumeControl.material-icons.small
                            p#volumeRangeField.range-field
                                input(type="range" id="volumeSlider" min="0" max="100")
                            p#playTimeNumbers 0:00 / 0:00
                    div#chat
                        div#messages
                        div#sendMessage
                            input#sendMessageInput.form-control.validate(name="sendChatMessage" type="text", maxlength="128", placeholder="Send a message...")
                            div#sendMessageBtn.waves-effect.waves-light.black.btn Send
                div#searchBar test
            

                