html
    head
        script(src="/__/firebase/7.13.2/firebase-app.js")
        script(src="/__/firebase/7.13.2/firebase-analytics.js")
        script(src="/__/firebase/7.13.2/firebase-firestore.js")
        script(src="/__/firebase/7.13.2/firebase-auth.js")
        script(src="/__/firebase/7.13.2/firebase-database.js")
        title Sync - Homepage
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/homepage.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/homepage.js")
    body
        header
            div#logo
                img#logoImg(src="./img/logo.png")
                p Sync
            div#loginBtn
                img#login(src="./img/icons/login.png")
        div#content
            div#banner
                div#createRoomCard.card.white
                    div.card-content.black-text
                        span.card-title Welcome to Sync
                        p Looking to watch some videos together with friends? This is the right place for you!.
                    div.card-action
                        a#createRoomBtn Get started 🥳
            div
                h2 What We Do
                div#whatWeDo
                    div#videoStreamingCard.card
                        div.card-image
                            img(src="./img/icons/synchronization.png")
                            span.card-title.black-text Synchronization
                        div.card-content.black-text
                            p We make it possible for you and your friends to watch videos in real time where anyone can control the video.
                    div#multipleRoomsCard.card
                        div.card-image
                            img(src="./img/icons/multipleRooms.png")
                            span.card-title.black-text Multiple Rooms
                        div.card-content
                            p Join a room to start streaming with your friends. Wan't to keep the family/friends group separate? Create 2 rooms! Sync allows multiple rooms to be active.
                    div#multipleDevicesCard.card
                        div.card-image
                            img(src="./img/icons/crossDevices.png")
                            span.card-title.black-text Cross Devices
                        div.card-content
                            p Coming soon! Exciting!
        footer
            hr
            p Contact me on ricardojg1@hotmail.com
        div.sidebar.disable-select
            img#back(src="./img/icons/close.png")
            div#formLogin
                h3 Log In
                form#formLoginInputs
                    div.input-field
                        input#emailInput.form-control.validate(name="email" type="email" maxlength="100" required)
                        label(for="emailInput") Email Address
                        span.helper-text(data-error="Not a valid email address")
                    div.input-field
                        input#passwordInput.form-control.validate(name="password" type="password" maxlength="128" required)
                        label(for="passwordInput") Password
                    div#loginSubmit.waves-effect.waves-light.btn.black(type="submit") Login
                p or
                div#registerBtn.waves-effect.waves-light.btn.black Register
            div#formRegister
                h3 Register
                form#formRegisterInputs
                    div.input-field
                        i.material-icons.small.prefix.disable-select account_circle
                        input#usernameRegisterInput.form-control.validate(name="username" type="text" minlength="4" maxlength="25" required)
                        label(for="usernameRegisterInput") Username
                        span.helper-text(data-error="Minimum 4 characters")
                    div.input-field
                        i.material-icons.small.prefix.disable-select alternate_email
                        input#emailRegisterInput.form-control.validate(name="email" type="email" minlength="6" maxlength="100" required)
                        label(for="emailRegisterInput") Email Address
                        span.helper-text(data-error="Enter a valid email address")
                    div.input-field
                        i#registerPasswordVisibility.material-icons.small.prefix.disable-select visibility_off
                        input#passwordRegisterInput.form-control.validate(name="password" type="password" minlength="8" maxlength="128" required)
                        label(for="passwordRegisterInput") Password
                        span.helper-text(data-error="Minimum 8 characters")
                    div.input-field
                        i#registerConfirmPasswordVisibility.material-icons.small.prefix.disable-select visibility_off
                        input#confirmPasswordRegisterInput.form-control.validate(name="confirmPassword" type="password" minlength="8" maxlength="128" required)
                        label(for="confirmPasswordRegisterInput") Confirm Password
                        span.helper-text(data-error="Minimum 8 characters")
                    div#registerSubmit.waves-effect.waves-light.btn.black(type="submit") Register
                p or
                div#backRegister.waves-effect.waves-light.btn.black Back