html
    head
        script(src="/__/firebase/7.13.2/firebase-app.js")
        script(src="/__/firebase/7.13.2/firebase-analytics.js")
        script(src="/__/firebase/7.13.2/firebase-firestore.js")
        script(src="/__/firebase/7.13.2/firebase-auth.js")
        script(src="/__/firebase/7.13.2/firebase-database.js")
        title Sync - Home
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/home.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/home.js")
    body
        div#sidebar
            div#logoTag
                img#logo(src="./img/logo.png")
                p#usernameDisplay
                img#profilePicture(src="")
            hr
            div#createJoin
                div#createRoomBtn.waves-effect.waves-light.btn Create room
                div#joinRoomBtn.waves-effect.waves-light.btn Join room
            div#myRooms My Rooms
                hr
            a#logOut.waves-effect.waves-light.btn(href="#logout") Log out
        div#content
            //button(onclick='closeSidebar()') Collapse
            //button(onclick='openSidebar()') Show
            i#sidebarToggle.material-icons.medium.prefix menu
            div#initialScreen
                h1 Create or join a new room to start
            div#createRoom.z-depth-5
                div#createRoomContent
                    h2 Create Room
                    form#createRoomForm
                        div.input-field
                            input#roomNameInput.form-control.validate(name="roomName" type="text" maxlength="20" required)
                            label(for="roomNameInput") Room Name
                            span.helper-text(data-error="")
                        div#privacyRoomSwitch.switch
                            label Public
                                input#privacyRoomInput(name="privacyEnable" type="checkbox")
                                span.lever
                                | Private
                        div.input-field
                            input#roomPasswordInput.form-control.validate(name="roomPassword" type="password" maxlength="128" required)
                            label(for="roomPasswordInput") Password
                    div#createRoomSubmit.waves-effect.waves-light.btn(type="submit") Start the fun now 🥳
            div#joinRoom
                div#joinRoomContent
                    h2 Join room
                    form#joinRoomForm
                        div.input-field
                            input#roomIDInput.form-control.validate(name="roomName" type="text" maxlength="20" required)
                            label(for="roomIDInput") Room ID
                            span.helper-text(data-error="")
                    div#joinRoomSubmit.waves-effect.waves-light.btn(type="submit") Join 🤩
            div#room
                h1 WORK IN PROGRESS
                p#roomName Name
                div#playerChat
                    div#player(allow="autoplay" fullscreen)
                    div#chat
                button#leaveRoom Leave
                
                


        //div#quit.modal
        //    div.modal-content
        //        h4 Are you sure you want to log out?
        //    div.modal-footer
        //        a.modal-close.waves-effect.waves-green.btn-flat(onclick(logout())) Yes
        
            

                