html
    head
        title Sync - Homepage
        meta(charset="utf-8")
        meta(name="viewport" content="width=device=width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/materialize.css")
        link(rel="stylesheet" href="./style/home.css")
        link(rel="manifest" href="./manifest.json")
        link(rel="icon" href="./img/logo.png" type="image")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="./js/materialize.js")
        script(src="./js/jquery.js")
        script(src="./js/home.js")
    body
        header
            div#logo
                img#logoImg(src="./img/logo.png")
                p Sync
            div
                img#login(src="./img/icons/login.png")
                img#logout(src="./img/icons/logout.png")
        div#content
            //Image instead of banner at some point
            div#banner
                div#createRoomCard.card.white
                    div.card-content.black-text
                        span.card-title Welcome to Sync
                        p Looking to watch some videos together with friends? This is the right place for you! Create a room to start.
                    div.card-action
                        a(onclick='createRoom()') Create room
            div
                h2 What We Do
                div#whatWeDo
                    div#videoStreamingCard.card
                        div.card-image
                            img(src="./img/icons/synchronization.png")
                            span.card-title.black-text Synchronization
                        div.card-content.black-text
                            p We make it possible for you and your friends to watch videos in real time where   anyone can control the video.
                    div#multipleRoomsCard.card
                        div.card-image
                            img(src="./img/icons/multipleRooms.png")
                            span.card-title.black-text Multiple Rooms
                        div.card-content
                            p We make it possible for you and your friends to watch videos in real time where   anyone can control the video.
                    div#multipleDevicesCard.card
                        div.card-image
                            img(src="./img/icons/crossDevices.png")
                            span.card-title.black-text Cross Devices
                        div.card-content
                            p We make it possible for you and your friends to watch videos in real time where   anyone can control the video.
            
        footer
            hr
            p Contact me on ricardojg1@hotmail.com